---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto+Slab&display=swap');

html, body {
    background-color: #24252e;
    color: #dbe3da;
}

h1, h2, h3, h4 {
    color: #3D57FF;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: large;
}

h2 {
    font-size: large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: large;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: large;
}

.nav {
    font-family: 'Roboto Mono', monospace;
}

a {
    color: #3D57FF;
}

a:hover {
    color: #3D57FF;
    font-weight: bold;
}