---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
    background-color: #24252e;
    color: #dbe3da;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    color: #3D57FF;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

li {
    font-size: large;
}

.navig {
    font-family: 'Roboto Mono', monospace;
}

.description{
    font-family: 'Roboto Mono', monospace;
}

a {
    color: #3D57FF;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
}

a:hover {
    color: #3D57FF;
    font-weight: bold;
}

.title {
    font-size: 35px;
}