---
---

@import "{{ site.theme }}";

html, body {
    background-color: #24252e;
    color: #dbe3da;
    font-family:'Courier New', Courier, monospace;
}

h1, h2, h3, h4 {
    color: #3D57FF;
}

a {
    color: #3D57FF;
}

a:hover {
    color: #3D57FF;
    font-weight: bold;
}